* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    line-height: 20px;

    margin: 20px;
}

label {
    margin-top: 10px;
}

input {
    margin-top: 10px;
    padding: 10px;

    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

textarea {
    margin-top: 10px;
    padding: 20px;

    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

span {
    margin-right: 5px;
}

header {
    display: flex;
    justify-content: space-around;
}

h1, h2{
    font-family: 'Young Serif', serif;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 14px;
    opacity: 0.8;
}

h1 {
    font-size: 30px;
}

ul li {
    list-style: none;
    font-size: 0.85rem;
    opacity: 0.7;
    background: #dfdfdf;
    font-weight: 300;

    padding: 0.25rem;
}

.example {
    font-size: 0.85rem;
    font-weight: 300;
    opacity: 0.7;
    background: #dfdfdf;

    padding: 0.25rem;
}

form h2 {
    margin: 40px 0;

    text-align: center;
}

.form-section-1 {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.careerObjective, .aboutYou{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.careerObjective p {
    font-weight: 300;

    width: 50%;
}

.aboutYou .content-text {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.aboutYou p {
    font-weight: 300;
}

.aboutYou .content-text .lists {
    display: flex;
    margin: 10px 0;
    gap: 20px;
}

.professionalExperience, .schooling {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

.professionalExperience p, .schooling p {
    font-weight: 300;

    margin-bottom: 20px;
    width: 50%;
}

.professionalExperience .content-experience {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.content-experience div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form button {
    padding: 10px;

    border: 1px solid;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
    transition: 200ms;
}

form button:hover {
    background-color: #000;
    color: #fff;
}

@media (max-width: 1145px) {
    .aboutYou {
        flex-direction: column;
        gap: 0;
    }

    .aboutYou .content-text .lists {
        margin-bottom: 50px;
        width: 100%;
    }
}

@media (max-width: 825px) {
    .careerObjective{
        flex-direction: column;
        gap: 0;
    }

    .careerObjective p{
        margin-bottom: 50px;
    }
}

@media (max-width: 665px) {
    .careerObjective p {
        width: 100%;
    }
}

@media (max-width: 525px) {
    input, textarea {
        width: 90%;
    }

    .example {
        text-align: start;
    }

    header {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .form-section-1 {
        flex-direction: column;
    }

    .aboutYou .content-text {
        width: 100%;
    }

    .aboutYou .content-text .lists {
        flex-direction: column;
    }

    .professionalExperience p, .schooling p {
        width: 100%;
    }
}